* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    background: #f5f5f5;
}
.sidebar {
    width: 250px;
    background-color: #07a4ff;
    color: #fff;
    padding: 20px;
    height: 100vh;
}
.profile {
    text-align: center;
    margin-bottom: 30px;
}
.profile h3 {
    font-size: 18px;
}
nav ul {
    list-style: none;
}
nav ul li {
    margin: 15px 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
}
nav ul li.active a {
    background-color: #07a4ff;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.main-content {
    flex: 1;
    padding: 20px;
    background: #fff;
    overflow-y: auto;
}
.header h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    
}
.stats {
    padding: 5px;
    color: #333;
    flex-wrap: wrap;
    width: 25%;
    height: 10%;
    border-radius: 8px;
}
.card {
    background-color: #07a4ff;
    min-width: 200px;
    border-radius: 8px;
    color: #ffffff;
    margin: auto;
    text-align: center;
    display: flex;
}
.card img:hover {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.card img{
    background-color: #f3f3f366;
    border-radius: 10px; 
    margin-top: 10px;
    margin-left: 5px;
}
.card h2 {
    font-size: 18px;
    margin-top: 12px;
}
.logo {
    width: 50px;
    padding: 10px;
    align-items: center ;
    height: 50px;
}
.conten {
    color: rgb(255, 255, 255);
    margin-right: auto;
    padding: 15px;
}
.conten h1{
    font-size: 15px;
}